@model IEnumerable<SistemaAcai_II.Models.ItemComanda>

@{
    ViewData["Title"] = "ItensComanda";
}

<h2>Itens da Comanda # @ViewBag.NunComanda</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.First().RefProduto.Descricao)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.First().Quantidade)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.First().Peso)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.First().RefProduto.PrecoUn)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <th scope="row">@item.Id</th>
                <td>@item.RefProduto.Descricao</td>
                <td>@item.Quantidade</td>
                <td>@item.Peso</td>
                <td>@item.RefProduto.PrecoUn</td>
        </tr>
}
    </tbody>
</table>
<div class="offset-md-4 col-md-6">
    <a asp-action="Index" class="btn btn-info">Comandas abertas</a>
    <a asp-action="ComandasFechada" class="btn btn-warning">Comandas Fechada</a>
 </div>
