@model SistemaAcai_II.Models.VendasViewModel
@using SistemaAcai_II.Models.Constants
@inject SistemaAcai_II.Libraries.Login.LoginColaborador _colaborador

<h2>Vendas</h2>

@if (TempData["Erro"] != null)
{
    <div class="alert alert-danger">@TempData["Erro"]</div>
}

<form method="get">
    <div class="form-group row align-items-center">
        <label class="col-sm-2 col-form-label">Selecione o Tipo:</label>
        <div class="col-sm-6 d-flex align-items-center">
            <div class="form-check me-3">
                <input type="radio" class="form-check-input" id="checkboxPeso" name="tipo" value="peso" checked />
                <label class="form-check-label" for="checkboxPeso">Peso</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="checkboxUnidade" name="tipo" value="unidade" />
                <label class="form-check-label" for="checkboxUnidade">Unidade</label>
            </div>
        </div>
    </div>




<!-- Campo de pesquisa -->

    <div class="form-group row">
        <label for="termo" class="col-sm-2 col-form-label">Pesquisar Produto</label>
        <div class="col-sm-6">
            <input type="text" name="termo" id="termo" class="form-control" placeholder="Digite o nome ou código do produto..." />
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<!-- Exibir resultados da pesquisa -->
@if (Model.Produtos != null && Model.Produtos.Any())
{
    <h3>Produto</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#Código</th>
                <th>Nome</th>
                <th>Preço Unitário</th>
                <th>Peso (kg)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model.Produtos)
            {
                <tr>
                    <td>@produto.Id</td>
                    <td>@produto.Descricao</td>
                    <td>@produto.PrecoUn.ToString("C")</td>
                    <td>
                        <form asp-action="AdicionarItem" method="post" class="d-flex">
                            <input type="hidden" name="id" value="@produto.Id" />
                            <!-- Campo de peso reduzido e alinhado com o botão -->

                            <input type="text" name="pesoRcebido" step="0.01" min="0.01" class="form-control-sm col-3  peso campo-peso"/>
                            @* <input type="number" id="peso" class="form-control" step="0.01" placeholder="Digite ou capture" /> *@

                            <input type="number" name="quantidade" step="1" min="1"
                                   class="form-control-sm col-3 campo-quantidade" placeholder="Quantidade" style="display: none;" />
                            <button type="submit" class="btn btn-success btn-sm ms-2">Adicionar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<!-- Exibir carrinho de compras -->
<h3>Itens da Comanda</h3>

@if (Model.ItensCarrinho != null && Model.ItensCarrinho.Any())
{
    <!-- Formulário para salvar a comanda -->
    <form asp-action="SalvarComanda" asp-controller="Comanda" method="post">
        <div class="form-group row">
            <label for="NomeCliente" class="col-form-label col-sm-3">Nome do Cliente:</label>
            <div class="col-sm-6">
                <input type="text" id="NomeCliente" name="Comanda.NomeCliente" class="form-control form-control-sm" required />
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Peso (kg)</th>
                    <th>Preço Unitário</th>
                    <th>Subtotal</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal totalComanda = 0;
                }
                @foreach (var item in Model.ItensCarrinho)
                {
                    var subtotal = item.peso * item.PrecoUn;
                    @if (item.peso <= 0)
                    {
                        subtotal = Convert.ToDecimal( item.Quantidade * item.PrecoUn);
                    }
                        
                    ViewBag.TotalComanda = totalComanda += subtotal;

                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Descricao</td>
                        @if (@item.peso > 0)
                        {
                            <td>@item.peso.ToString("N3") Kg</td>
                        }
                        else
                        {
                            <td>@item.Quantidade Un</td>
                        }

                        <td>@item.PrecoUn.ToString("C")</td>
                        <td>@subtotal.ToString("C")</td>
                        @if (_colaborador.GetColaborador() != null && _colaborador.GetColaborador().Tipo == ColaboradorTipoConstant.Gerente)
                        {
                            <td class="text-right">
                                <a asp-controller="Comanda" asp-action="RemoverItem" asp-route-id="@item.Id" class="btn btn-outline-danger">× Remover</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>

        <!-- Exibir total da comanda -->
        <div class="alert alert-info">
            <h4>Total da Comanda: @totalComanda.ToString("C")</h4>
        </div>

        <div class="offset-md-4 col-md-4">
            <button type="submit" class="btn btn-outline-primary">Salvar Comanda</button>
        </div>
        <br />
    </form>
    
}
else
{
    <p>Nenhum item no carrinho.</p>
}
<div class="offset-md-4 col-md-4">
    <a asp-action="Index" class="btn btn-outline-primary">Comandas abertas</a>
</div>

