@model IEnumerable<SistemaAcai_II.Models.Comanda>
@{
    ViewData["Title"] = "ComandaHoje";
}

<h2 class="text-center text-md-left">Vendas do dia: @DateTime.Now</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().NomeCliente)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().DataAbertura)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().DataFechamento)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().RefFormasPagamento.Nome)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().Desconto)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.First().ValorTotal)</th>
            </tr>
        </thead>

        <tbody>
            @foreach (Comanda comanda in Model)
            {
                <tr>
                    <th scope="row">@comanda.Id</th>
                    <td>@comanda.NomeCliente</td>
                    <td>@comanda.DataAbertura.ToString("dd/MM/yyyy")</td>
                    <td>@comanda.DataFechamento?.ToString("dd/MM/yyyy")</td>
                    <td>@comanda.RefFormasPagamento.Nome</td>
                    <td>R$ @comanda.Desconto</td>
                    <td>@comanda.ValorTotal.ToString("C")</td>
                </tr>
            }


        </tbody>
    </table>
</div>

