@model IPagedList<SistemaAcai_II.Models.Cliente>

@{
    ViewData["Title"] = "Clentes";
    var pesquisa = Context.Request.Query["pesquisa"];
}

<h1>Clientes</h1>


<form method="get">
    <div class="form-group row">
        <label for="pesquisa" class="col-sm-2 col-form-label">Faça a pesquisa</label>
        <div class="col-sm-6">
            <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome ou e-mail do colaborador">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Pesquisar</button>
        </div>
    </div>
</form>
<br />
<br />
@if (Model.Count > 0)
{
    <a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a>
    <br />
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().CPF)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nascimento)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Telefone)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Email)</th>
                    @* <th scope="col">@Html.DisplayNameFor(model => model.First().Senha)</th> *@
                    @* <th scope="col">@Html.DisplayNameFor(model => model.First().Situacao)</th> *@
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Cliente cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Id</th>
                        <td>@cliente.Nome</td>
                        <td>@cliente.CPF</td>
                        <td>@cliente.Nascimento.ToString("dd/MM/yyyy")</td>
                        <td>@cliente.Telefone</td>
                        <td>@cliente.Email</td>
                        @* <td>@cliente.Senha</td> *@
                        @* <td>@cliente.Situacao</td> *@
                        <td>
                            @if (cliente.Situacao == "A")
                            {
                                <a asp-action="Desativar" asp-route-id="@cliente.Id" class="btn btn-danger"
                                   onclick="return confirm('Deseja realmente Desativar?')">Desativar</a>
                            }
                            else if (cliente.Situacao == "D")
                            {
                                <a asp-action="Ativar" asp-route-id="@cliente.Id" class="btn btn-primary"
                                   onclick="return confirm('Deseja realmente Ativar?')">Ativar</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina }))
}
else
{
    <span>Nenhum registro cadastrado!</span><br />
    <a class="btn btn-primary" asp-action="Cadastrar">Cadastrar</a>
}




